version: "3.9"

services:
  db:
    image: postgres:16
    restart: "unless-stopped"
    environment:
      POSTGRES_USER: dais
      POSTGRES_PASSWORD: dais
      POSTGRES_DB: dais
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  web:
    build: .
    command: npm run dev
    ports:
      - "3992:3001"
    env_file:
      - .env.docker
    depends_on:
      - db

volumes:
  pgdata:
